html,
body {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  line-height: 1.45em;
  color: #555;
}

body>div {
  text-align: center;
}

body>div strong {
  color: #111;
}

body>div img {
  margin: 0 0 2em 0;
}

body>div span {
  padding: 3px 5px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.06);
  color: #111;
}